{% extends "base.html" %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="56" fill="currentColor" class="bi bi-9-circle" viewBox="0 0 16 16">
    <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-8.223 4.146c-1.593 0-2.425-.89-2.52-1.798h1.296c.1.357.539.72 1.248.72 1.36 0 1.88-1.353 1.834-3.023h-.076c-.235.627-.873 1.184-1.934 1.184-1.395 0-2.566-.961-2.566-2.666 0-1.711 1.242-2.731 2.87-2.731 1.512 0 2.971.867 2.971 4.014 0 2.836-1.02 4.3-3.123 4.3m.118-3.972c.808 0 1.535-.528 1.535-1.594s-.668-1.676-1.56-1.676c-.838 0-1.517.616-1.517 1.659 0 1.072.708 1.61 1.54 1.61Z"/>
  </svg>
  <h1 class="display-5 fw-bold text-body-emphasis">숫자 야구</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">게임 설명 넣을 예정</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      
      <a href="{% url "play_game"%}" class="btn btn-primary btn-lg px-4 gap-3">
        게임 시작
      </a>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4" data-bs-toggle="modal" data-bs-target="#playler-setting">인원설정</button>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="playler-setting" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">인원 설정 (Player1)</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form action="{% url "create_player" %}" method="POST">
      {% csrf_token %}
      <div class="modal-body">
        <div class="mb-3">
          <label for="nickname-player1" class="form-label">이름</label>
          <input type="text" class="form-control" id="nickname-player1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <div> </div>
          <label for="exampleInputPassword1" class="form-label">숫자</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name='play1-number'>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="설정">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </form>
  </div>
</div>
</div>
{% endblock content %}
